<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <%- include('./layouts/sidebar.ejs') %>
    <div class="container">
        <div class="settings">
            <div>
            <strong>Username:</strong>
            <p><%= username%></p>
            </div>

            <div>
             <strong>password:</strong>
             <p>***<%= pass%></p>
            </div>

          <div class="links">
            <a href="/admin/settings/change-up">Change username & password</a><br>
            <a href="/admin/settings/change-pin">Change security pin</a>
          </div>
        </div>
    </div>
</body>
</html>